{% extends 'base.html' %}

{% block title %}List of books{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                Search
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col">
                    <form method="get">
                        <p>
                            {{ form.date_published_start.label }}
                            {{ form.date_published_start }}
                            {% for error in form.date_published_start.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.date_published_end.label }}
                            {{ form.date_published_end }}
                            {% for error in form.date_published_end.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-outline-primary mt-3" href="{{ url_for('read_books') }}">Back to list</a>
                            <input type="submit" value="Search" class="btn btn-primary mt-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<table class="table table-striped table-hover">
    <thead>

    <tr class="text-center">
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Date published</th>
        <th><i class="bi bi-pencil-fill"></i></th>
        <th><i class="bi bi-trash3-fill"></i></th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td><a href="{{ url_for('detail', pk=book.id) }}">{{book.title}} </a></td>
        <td>{{book.author}}</td>
        <td class="text-center">{{book.price}}</td>
        <td class="text-center">{{book.date_published}}</td>
        <td class="text-center"><a class="btn btn-outline-primary btn-sm" href="{{ url_for('update', pk=book.id) }}">Edit</a>
        </td>
        <td class="text-center"><a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete', pk=book.id) }}">Remove</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}